.visited-country-card {
  width: 30%;
  background-color: #334155;
  list-style-type: none;
  height: 140px;
  margin: 7px;
  border-radius: 4px;
}
.country-flag {
  width: 100%;
  height: 100px;
}
.name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.visited-country-name {
  font-weight: bold;
  font-size: 14px;
  font-family: 'roboto';
  color: white;
}
.remove-button {
  border: 1px solid #94a3b8;
  outline: none;
  background-color: transparent;
  color: #94a3b8;
  margin: 3px;
}
